<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <header id="main-header">
        <nav class="nav-bar text-center">
            <ul type="none">
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#work-experience">Expereince</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="header-widget">
            <div class="text-center">
                <h1 id="my-name">Arjun Garg</h1>
            </div>
            <div class="nav-bar">
                <ul class="text-center social-icons">
                    <li><a href="#"><img src="/logos/linkedin.png" alt="linkedin" /></a></li>
                    <li><a href="#"><img src="/logos/github.png" alt="github" /></a></li>
                    <li><a href="#"><img src="/logos/facebook.png" alt="facebook" /></a></li>
                    <li><a href="#"><img src="/logos/instagram.png" alt="instagram" /></a></li>
                    <li><a href="#"><img src="/logos/quora.png" alt="quora" /></a></li>
                </ul>
            </div>
        </div>
    </header>
    <main id="main-section">
        <section id="about">
            <div id="profile-image">
                <img
                    src="/logos/arjun.jpg" />
            </div>
            <p>Lorem ipsum dolor sit amet, <span>consectetur adipiscing elit</span>, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad <span>minim veniam, quis</span> nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.</h4>
            </p>
        </section>
        <section id="skills">
            <div id="skils-title" class="text-center">
                <img src="/logos/window.png" alt="skills" />
                <h2>Skills</h2>
            </div>
            <div>
                <div id="skills-show-case">
                    <div id="skill1">
                        <div>Html</div>
                    </div>
                    <div id="skill2">
                        <div>CSS</div>
                    </div>
                    <div id="skill3">
                        <div>Mongo</div>
                    </div>
                    <div id="skill4">
                        <div>Express</div>
                    </div>
                    <div id="skill5">
                        <div>React</div>
                    </div>
                    <div id="skill6">
                        <div>NodeJs</div>
                    </div>
                    <div id="skill7">
                        <div>Asp.Net</div>
                    </div>
                    <div id="skill8">
                        <div>Xamarin</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="portfolio">
            <div id="portfolio-title" class="text-center">
                <img src="/logos/task.png" alt="portfolio" />
                <h2>Portfolio</h2>

            </div>
            <div id="portfolio-show-case">
                <div id="portfolio1"><img src="/logos/asset_0000000000000024_1550237299_codezen.png">
                    <div>
                        This is a randome text
                    </div>
                </div>
                <div id="portfolio1"><img src="/logos/asset_0000000000000024_1550237299_codezen.png">
                    <div class="portfolio1-hover">This is a randome text</div>
                </div>
                <div id="portfolio1"><img src="/logos/asset_0000000000000024_1550237299_codezen.png">
                    <div class="portfolio1-hover">This is a randome text</div>
                </div>
                <div id="portfolio1"><img src="/logos/asset_0000000000000025_1550237330_codezen_2.png">
                    <div class="portfolio1-hover">This is a randome text</div>
                </div>
                <div id="portfolio1"><img src="/logos/asset_0000000000000025_1550237330_codezen_2.png">
                    <div class="portfolio1-hover">This is a randome text</div>
                </div>
                <div id="portfolio1"><img src="/logos/asset_0000000000000025_1550237330_codezen_2.png">
                    <div class="portfolio1-hover">This is a randome text</div>
                </div>
            </div>
        </section>
        <section id="education">
            <div id="portfolio-title" class="text-center">
                <img src="/logos/suitcase.png" alt="work-experience" />
                <h2>Education</h2>
            </div>
           <div class="timeline-outer">
            <div class="timeline bg-coclor">
                <div class="timeline-box">
                   <div class="timeline-box-header">
                       <div class="logo-image">
                          <img src="/logos/1611129711264.jfif"/>
                       </div>
                       <div class="desc-timeline-box-header">
                          <h1>Founding Member</h1>
                          <h3>Coding Ninjas</h3>
                          <h6>May 2015 - May 2016</h6>
                       </div>
                   </div>
                   <p class="work-exp-des">Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  
                </div>
                <div class="timeline-box">
                    <div class="timeline-box-header">
                        <div class="logo-image">
                            <img src="/logos/1611129711264.jfif"/>
                        </div>
                        <div class="desc-timeline-box-header">
                           <h1>Founding Member</h1>
                           <h3>Coding Ninjas</h3>
                           <h6>May 2015 - May 2016</h6>
                        </div>
                    </div>
                    <p class="work-exp-des"> Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                   
                 </div>
                 <div class="timeline-box">
                    <div class="timeline-box-header">
                        <div class="logo-image">
                           <img src="/logos/contacts.png">
                        </div>
                        <div class="desc-timeline-box-header">
                           <h1>Founding Member</h1>
                           <h3>Coding Ninjas</h3>
                           <h6>May 2015 - May 2016</h6>
                        </div>
                    </div>
                    <p class="work-exp-des"> Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                 </div>
                 <div class="timeline-divider">
                    <div class="timeline-traveller">
                        <img src="/logos/aeroplane (2).png"/>
                     </div>
                 </div>
            </div>
           </div>
        </section>
        <section id="work-experience">
            <div id="portfolio-title" class="text-center">
                <img src="/logos/suitcase.png" alt="work-experience" />
                <h2>Work Experience</h2>
            </div>
           <div class="timeline-outer">
            <div class="timeline">
                <div class="timeline-box">
                   <div class="timeline-box-header">
                       <div class="logo-image">
                          <a href="https://www.makemysite.com/" target="_blank"><img src="/logos/tcslogo.jfif"/></a>
                       </div>
                       <div class="desc-timeline-box-header">
                          <h1>Assitant Software Engineer</h1>
                          <h3>TCS India</h3>
                          <h6>June 2021 - Present</h6>
                       </div>
                   </div>
                   <p class="work-exp-des">Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  
                </div>
                <div class="timeline-box">
                    <div class="timeline-box-header">
                        <div class="logo-image">
                           <a href="https://www.tcs.com/" target="_blank"><img src="/logos/1611129711264.jfif"/></a>
                        </div>
                        <div class="desc-timeline-box-header">
                           <h1>Software Engineer</h1>
                           <h3>Acoustte Digital</h3>
                           <h6>May 2015 - May 2016</h6>
                        </div>
                    </div>
                    <p class="work-exp-des"> Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                   
                 </div>
                 <div class="timeline-box">
                    <div class="timeline-box-header">
                        <div class="logo-image">
                          <a href="https://www.vivo.com/in" target="_blank"><img src="/logos/vivo.png"></a>
                        </div>
                        <div class="desc-timeline-box-header">
                           <h1>Production Engineer-2</h1>
                           <h3>Vivo Mobile India</h3>
                           <h6>June 2019 - Dec 2019</h6>
                        </div>
                    </div>
                    <p class="work-exp-des"> Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                 </div>
                 <div class="timeline-divider">
                    <div class="timeline-traveller">
                        <img src="/logos/aeroplane (2).png"/>
                     </div>
                 </div>
            </div>
           </div>
        </section>
        <section id="contact">
            <div id="contact-title" class="text-center">
                <img src="/logos/contacts (2).png" alt="contact" />
                <h2>contact</h2>
            </div>
            <div id="contact-show-case">
                <div id="contact1">
                 <form action="/userinfo" method="POST">
                    <div class="input-structure">
                        <input type="text" placeholder="Your Name" name="name" />
                    </div>
                    <div class="input-structure">
                        <input type="email" placeholder="Your Email" name="email" />
                    </div>
                    <div class="textarea-structure">
                        <textarea type="text" rows="5" cols="30" placeholder="Message" name="message"></textarea>
                    </div>
                    <div class="submitButton">
                        <button type="submit">SEND MESSAGE</button>
                    </div>
                 </form>
                </div>
                <div id="contact2">
                    <div>
                        <h1 class="conatact2-phtag">Get In Touch</h1>
                        <p class="conatact2-ptag"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <h1 class="conatact2-phtag">My Address</h1>
                        <div class="conatact2-pin"><img src="/logos/pin.png"/><p><span>New Delhi</span></p></div>
                        <div class="conatact2-mobile"><img src="/logos/smartphone.png"/><p>9990367114</p></div>
                        <div class="conatact2-mail"><img src="/logos/mail.png"/><p>arjungargniec@gmail.com</p></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        <% if(locals.flash.success && locals.flash.success.length>0 ) {%>
           new Noty({
           theme:'relax',
           text:'<%= flash.success %>',
           type:'success',
           layout:'topRight',
           timeout:2500
         }).show();
       <% } %>
       <% if(locals.flash.error && locals.flash.error.length>0 ) {%>
           new Noty({
           theme:'relax',
           text:'<%= flash.error %>',
           type:'error',
           layout:'topRight',
           timeout:2500
         }).show();
       <% } %>
     
   </script>
</body>

</html>